<title>{{ config_get('streams.app.name') }} &#8250; {{ trans(template.breadcrumbs.all()|keys|last)|raw }}</title>

<meta charset="utf-8"/>

<meta name="viewport" content="width=device-width, initial-scale=1"/>

<!--[if lte IE 8]>
{{ asset_add("scripts.js", "theme::js/ie/html5shiv.js") }}
<![endif]-->

{{ asset_add("theme.css", "theme::css/main.css") }}

<!--[if lte IE 9]>
{{ asset_add("theme.css", "theme::css/ie9.css") }}<![endif]-->

<!--[if lte IE 8]>
{{ asset_add("theme.css", "theme::css/ie8.css") }}
<![endif]-->

{{ asset_style("theme.css", ["parse"]) }}

{% for style in asset_styles("styles.css") %}
    {{ style|raw }}
{% endfor %}

{{ constants() }}
